# Basic Data Types

This notebook will walk you through some short examples of Python code. 
You'll learn to work with strings and basic arithmetic, and how to change what code is executed based on simple conditions.

Some guidance on how to get the most out of this exercise:
- It is important that you use this notebook interactively.
- Read the text first and then read the code cells.
- Think about what you expect the code to do. Run the cell (by pressing shift and enter) to find out whether what happens matched what you expected to happen.
- Then, change the inputs to the functions in that cell and run it again to check you understand what the function is for and that it behaves in the way you expect.

## Strings

### Hello World!
The classic first program is Hello World, a program to output a string. 
A string is just a sequence of letters and other characters.
In Python, we use quote marks (') to indicate where a string begins and ends.
Run the cell below. 

Then try changing the text to make it output something different and run the cell again.

You can use double quotes(") instead of single quotes (') and it will work exactly the same - try replacing 'Hello World!' with "Hello World!"
What happens if you don't use quote marks at all?

In [1]:
print('Hello World!')

Hello World!

### Whoops
When you run the next cell it will cause an error. 
That's because the backslash character \\ has another purpose in Python strings.
If you want to print \\ you have to write \\\\ - try replacing 'Hello World\\' with 'Hello World\\\\' and run the cell again.

In [2]:
print('Hello World\')

SyntaxError: unterminated string literal (detected at line 1) (1117750763.py, line 1)

### Escape Characters
The backslash is used to help write special characters. 
For example, quote marks or tabs or newlines. 
Look up 'Python escape characters' online to learn more, and run the cell below to see some more examples.

In [3]:
print('Hello \n World!')

print('Hello\b World!')

print('Hello\tWorld!')

print('Hello \100 World!')

Hello
 World!
Hell World!
Hello	World!
Hello @ World!

### Comments
Reading code is hard. It is very important to make notes as you go along to explain what your code is meant to achieve. For example, in the previous cell we used some special characters. To make that code easier to understand we can add comments that explain those characters. Python uses the hash character # to indicate comments. Any line starting with # is ignored by the Python interpreter. Even if the rest of the line contains valid Python code, it won't actually do anything if the first character is #.

In [4]:
# \b is backspace character - expect output Hell World!
print('Hello\b World!')

# \100 special character to print 'at' symbol
print('Hello \100 World!')

# next line does nothing
# print('Hello World')

Hell World!
Hello @ World!

### Multiple Inputs 
You can give multiple inputs to the print function, as well as specifying how they should be separated and an ending. 
The separator is set to a space by default.

In [5]:
print('Hello', 'and goodbye', sep=', ', end='!')

Hello, and goodbye!

### Printing to a File
You can use the print function to output to a file, although it's not the most common way to do this in Python.
Run the next cell and you will see a file called 'output.txt' appear in the same directory as this notebook.

In [8]:
print('Hello World!', file=open('output.txt', 'w'))

## Variables and Formatting
The cell below shows a couple of different ways to use variables in the print function. 
Change the values of the variables and re-run the cell to see how the output changes.

In [9]:
myName = 'Fred'
myEyeColor = 'blue'
myAge = 22

print('Hi', myName, 'I like your', myEyeColor, 'eyes', end='.\n')

print('%s is %d years old.'% (myName, myAge))

print('{} has {} eyes.'.format(myName, myEyeColor))

print('{name} has {color} eyes. I like the color {color}.'.format(name=myName, color=myEyeColor))

Hi Fred I like your blue eyes.
Fred is 22 years old.
Fred has blue eyes.
Fred has blue eyes. I like the color blue.

The ``format()`` function is very flexible.
For example, we can specify the width of a field or how the value within that field should be aligned; for floating point numbers we can specify the precision to which those numbers are displayed. 
Here is an example for creating space in the output.
The ':' character indicates the start of the extra specifications.
'<' indicates that the value in this field should be left aligned, '^' that it should be centered, '>' that it is right aligned.
The number indicates the (minimum) width of the field.

In [10]:
print('|{:<10} | {:^10} | {:>10}|'.format('Left', 'Center', 'Right'))

|Left       |   Center   |      Right|

## More String Functions
There's lots more you can do with strings other than just printing them out...

You can find more in the documentation and there are examples of some of the most useful (in my opinion) below.

In all cases, you should try these functions on some examples of your own. Just change the values of the variables and re-run the cell to see what happens. 

### What Kind of String is This?
First, some functions for checking basic properties of strings - does this string contain **only** numbers, only letters, only uppercase letters, only whitespace?

You could also try the following functions, see if you can figure out what they are testing for:
- ``isdecimal()``
- ``isalnum()``
- ``islower()``
- ``istitle()``

In [11]:
'This is a string'.isalpha()

False

In [12]:
'thisIsAString'.isalpha()

True

In [13]:
'10947'.isalpha()

False

In [14]:
'10947'.isnumeric()

True

In [15]:
'THISISASTRING'.isupper()

True

In [16]:
' \n \t \r'.isspace()

True

### Simple Alterations to Strings
Similar functions allow us to force a string to all uppercase, all lowercase, or the first letter of each word to be uppercase. There's also a function to remove white-space from the start and end of a string, which can be very helpful for formatting.

In [17]:
myString = 'This is a string'

print(myString.upper())
print(myString.lower())
print(myString.title())

THIS IS A STRING
this is a string
This Is A String

In [18]:
extraString = ' too many spaces '

print(extraString)
print(extraString.strip())

 too many spaces
too many spaces

### Strings Are Just Lists of Characters
Each character in a string is associated with a number, starting from zero.
The first character has number 0, the second character has number 1, and so on. 

This means you can access a particular character from the string by indicating which position it's in.
Next module we'll look at Python lists in more detail.

In [19]:
myString = 'This is a string.'
myString[3]

's'

### Splitting Up a String Into Smaller Strings
And putting many short strings together into a longer one.
- split()
- join()

In [20]:
'This is a string'.split()

['This', 'is', 'a', 'string']

In [21]:
'This-is-another-string'.split('-')

['This', 'is', 'another', 'string']

In [22]:
myListOfWords = ['One', 'Two', 'Three']

', '.join(myListOfWords)

'One, Two, Three'

### Find and Replace
The ``find()`` function returns the position of the first time the input sequence appears in this string. 
If the sequence you're looking for is longer than one character long, ``find()`` returns the position of the start of the sequence in the string being searched.

The ``replace()`` function finds every time that some sequence appears in your string and replaces all of them with the alternative string. The new string could be empty, then the sequence is just deleted.

In [23]:
myString = 'This is a string'

myString.find('s')

3

In [24]:
myString = 'This is a string'

print(myString.replace('s', '\\'))
print(myString.replace('string', ''))

Thi\ i\ a \tring
This is a

## Exercise 1

Complete the cell below to produce text saying
**'Hi I'm \#your_name\# and I come from \#your_home\#. I like to \#your_hobby\#.'**, 
with variables for your name, home and hobby.

In [25]:
myName = 
myHome = 
myHobby = 

print()

SyntaxError: invalid syntax (1774861094.py, line 1)

## Exercise 2
Your computer system stores a list of names of the company's customers. 

- You've got the list and need to print out all the names, one on each line. 
- You notice one of the items in the list really isn't a name, so you'd like to remove that.
- One of the names isn't capitalised correctly... but be careful that fixing that one doesn't mess up the (initially correct) capitalisation of the scottish name 'McFredface'.

All of this can be achieved with only the functions we've introduced so far and no explicit loops or list functions.
If you're not sure how to solve the whole problem start by finding a way to print the list of names with some special character between them.
An example solution is given at the end of the worksheet, but you may find a different way to do it.

In [26]:
listOfNames = ["John O'Connell", "steven Jones", "Freddy McFredface", "is this even a name?", "Mrs. Smith "]

## Numbers
### Integers and Arithmetic
Integers are whole numbers: ...-3, -2, -1, 0, 1, 2, 3...

This following cells show how to do some basic arithmetic with integers. 
Try out these operations with different values, including negative numbers and zero.

In [27]:
3 + 4

7

In [28]:
4 - 3

1

In [29]:
3 * 4

12

In [30]:
3**2

9

In [31]:
8/2

4.0

### Combining Assignment and Arithmetic 
You may want to store an integer in a variable, then modify that integer and have the result stored in the same variable. 
Python has a useful shorthand for doing this.
The following two cells have the same result.

In [32]:
a = 5
a = a + 1

print(a)

6

In [33]:
a = 5
a += 1

print(a)

6

The same style of syntax is available for subtraction and multiplication, as well as division, exponentiation, and modulus (which will be explained below).

In [34]:
a = 5

a -= 2
print(a)

a *= 4
print(a)

3
12

### Floats
Notice how 8/2 prints out as 4.0 rather than just 4.
Python has automatically converted the answer to a different type of number, called a **float**.
Floats allow us to represent decimals as well as integers.
When using division the answer might not be an integer (for example 7/2 is 3.5) and therefore Python gives the answer as a float.

You can find out what sort of number a variable is with the function ``type()``.

In [35]:
a = 3
b = 3.5
c = '3.5'

print(type(a).__name__)
print(type(b).__name__)
print(type(c).__name__)

int
float
str

### Integer Division and Rounding
There is a special type of division that always outputs an integer.
The integer answer is always rounded down from the decimal answer. 

#### int()
Alternatively, we could force a float to become an integer using ``int()``, which simply truncates the number and outputs whatever is before the decimal point.

#### round()
This function outputs the nearest whole number, with .5 rounding up. 
You can also give an optional argument saying how many decimal places you want the number rounded to.

In [36]:
# standard division
a = 7/2

print('7 divided by 2 is', a)
print(a, "has type", type(a).__name__)

7 divided by 2 is 3.5
3.5 has type float

In [37]:
int(a)

3

In [38]:
round(a)

4

In [39]:
b = -7/2

print('-7 divided by 2 is', b)

-7 divided by 2 is -3.5

In [40]:
int(b)

-3

In [41]:
round(b)

-4

In [42]:
# integer division
c = 7//2

print('Integer division of 7 by 2 is', c)
print(c, "has type", type(c).__name__)

Integer division of 7 by 2 is 3
3 has type int

In [43]:
-7//2

-4

In [44]:
round(3.57, 1)

3.6

### Comparisons
We can compare two numeric values to find out if they are equal or if one is bigger than the other.
The symbols < and > stand for 'less than' and 'greater than' respectively. 
Because the equal symbol is used to assign a value to a variable, we use == to check for equality.

The code in the next cell should be read as 'is 3 equal to 4?'
Run the cell and it will output ``False``.
Change the content of the cell so that it outputs ``True`` when you run it.

In [45]:
3 == 4

False

The next cell shows how the user can be asked to input something, which is then assigned as the value of a variable. The rest of the code is then run using the values that the user provided.

Change the final line of the cell to a different comparison operator.
Try all of the following operators to check you understand what they do.

| Symbol | Meaning |
| --- | --- |
| < | less than |
| > | greater than |
| <= | less than or equal to |
| >= | greater than or equal to |
| == | equal to |
| != | not equal to |

In [46]:
x = input("Enter a number: ")
y = input("Enter another number: ")

x < y

Enter a number:  7
Enter another number:  8

True

### Compare Other Data Types
You can compare floats as well as integers, or even compare a float to an int.
It is also possible to compare strings using these operators. 
The comparison is based on the unicode value of each character in the strings.
If your strings only contain letters then you can think of 'less than' as 'would appear first in the dictionary'.
What happens if you compare a string (e.g. '3.5') with an integer (e.g. 4)?

In [47]:
a = 3
b = 3.5

a >= b

False

In [48]:
a = 'apple'
b = 'asteroid'

a < b

True

### Sum
The ``sum()`` function returns the sum of a list of numbers, either floats or ints.

In [49]:
sum([1,2,3,4,5])

15

In [50]:
sum([5.5, 2.4, .1, 1])

9.0

### Modulus
The modulus function **%** returns the remainder after a division, e.g. 7 divided by 3 is 2 with remainder 1. The modulus function would return 1 in this case.

In [51]:
15%4

3

In general, the following formula holds: 
- (x//y)*y + x%y == x

Make sure you understand why.

In [53]:
x = input("Enter a number: ")
y = input("Enter another number: ")

# convert the inputs to integers (they are read in as strings)
x = int(x)
y = int(y)

# z should equal x, whatever values for x and y are entered
z = (x//y)*y + x%y

print(z)

Enter a number:  14
Enter another number:  8

14

### Math Module
For more advanced mathematical functions you can use the **math** module. 

Among other things this module includes
- Trig functions
- Power and log functions
- Some important mathematical constants

The next cells show how to **import** the module and use it to access
- pi
- the exponential function
- the factorial function
- square roots
- the greatest common denominator of two integers

You should look at the documentation for the math module if you're interested in doing fancy stuff with numbers. Run the cells below and then try out some of the other functions listed in the documentation for this module. 

There are also modules for **statistics** and **random** number generation which can be imported in the same way, and packages like **numpy** and **pandas** which are great for scientific computing and data science.
We will look at some of these later in the course.

In [58]:
import math

In [59]:
# the value of pi (approximation)
math.pi

3.141592653589793

In [60]:
# e to the power 5
math.exp(5)

148.4131591025766

In [61]:
# 5!, or 5 factorial, is 5 * 4 * 3 * 2 * 1
math.factorial(5)

120

In [62]:
# square root
math.sqrt(25)

5.0

In [63]:
# the greatest common denominator
math.gcd(18, 24)

6

## Exercise 3
Find the volume of a cylinder with radius 5 and height 12 to the nearest whole number.

In [68]:
import math

r = 5
h = 12

volume = math.pi*r**2*h
volume

942.4777960769379

## Exercise 4
Find the length of the hypotenuse to 2 decimal places in a right angled triangle where the other two sides have length 5 and 6.

In [69]:


side1 = 5
side2 = 6

hypotenuse = math.sqrt(side1**2 + side2**2)
hypotenuse

7.810249675906654

## Exercise 4b (optional)
If you found exercise 4 quite easy then try implementing the cosine rule, which is a generalisation of Pythagoras' theorem, to calculate the length of a side in any triangle given the lengths of the other two sides and the angle between them. You'll need to look up a function to find the cosine of an angle in the math module. How does your answer need to be different if the angle is given in degrees or radians?

## Booleans
Boolean values are ``True`` and ``False``, which we have already seen when learning about comparison operators.
We can connect together Boolean values (or expressions that output Boolean values) using ``and`` and ``or`` and ``not*``
Use parentheses to avoid ambiguity -- like you would with arithmetic.

In [70]:
True and False

False

In [71]:
a = 3
b = 4
c = 5

(a < b) and (b < c)

True

In [72]:
((a < b) and (c < a)) or (b == c)

False

## None Type
Sometimes we want to have a variable that doesn't have any value, for example because it will be set later in the code but the value isn't known yet. 
In this case Python has a special variable type called ``None``.
Use the ``is`` keyword to check whether a variable has the value ``None``.

In [73]:
x = None

x is None

True

## Exercise 5

The rules of eligibility for a snake wrestling competition are as follows:

- Entrants must be more than 5 years old and younger than 100 years old.
- Entrants must have at least 1 arm and no more than 2.
- Entrants under 18 years of age must have 2 arms.
- Entrants can only wear a wig if they are over 40 years old and unmarried.

The competition organiser has started coding a small Python program in order to help determine who is eligible to contend. 
She has created some variables for the relevant attributes and assigned them values describing her friend Charmer, but hasn't yet written the complex Boolean condition corresponding to the eligibility requirements of the snake wrestle.

Complete the following code to capture all the specified requirements.

In [74]:
name      = "Charmer"
age       = 30
arms      = 1
wears_wig = True
married   = False

eligible = ( age >= 5 and age <= 100
             ### Add the rest of the conditions here
             ### By using only variables comparisons
             ### and Boolean operators.
        )

if eligible:
    print( name, "is eligible :)")
else:
    print( name, "is not eligible :(")

Charmer is eligible :)

# Solutions to Exercises
## 1

In [75]:
myName = 'Brandon'
myHome = 'Leeds'
myHobby = 'write Python programs'

print('Hi I\'m {} and I come from {}. I like to {}.'.format(myName, myHome, myHobby))

Hi I'm Brandon and I come from Leeds. I like to write Python programs.

## 2
Just printing everything in the list, one item per line, is simple with the ``join()`` function and '\n' (the 'new line' special character).

In [76]:
out = '\n'.join(listOfNames)
print(out)

John O'Connell
steven Jones
Freddy McFredface
is this even a name?
Mrs. Smith

And we can use ``replace()`` to get rid of the incorrect entry.

In [77]:
out = "\n".join(listOfNames)
out = out.replace('is this even a name?\n', '')
print(out)

John O'Connell
steven Jones
Freddy McFredface
Mrs. Smith

We can use the ``title()`` function to make the start of the second entry into a capital

In [78]:
out = "\n".join(listOfNames)
out = out.replace('is this even a name?\n', '')
out = out.title()
print(out)

John O'Connell
Steven Jones
Freddy Mcfredface
Mrs. Smith

But now "Freddy Mcfredface" is wrong. Either we could explicitly replace "steven" with "Steven", or use a trick to make sure names starting "Mc" are treated corectly, for example

In [79]:
out = "\n".join(listOfNames)
out = out.replace('is this even a name?\n', '')
out = out.replace('Mc', 'Mc ')
out = out.title()
out = out.replace('Mc ', 'Mc')
print(out)

John O'Connell
Steven Jones
Freddy McFredface
Mrs. Smith

## 3
The volume of a cylinder is the height multiplied by the area of the base.
The base of a cylinder is a circle so its area is the square of the radius multiplied by pi.
Finally, we round the volume to one decimal place and print the output.

In [80]:
import math

radius = 5
height = 12

area_of_base = radius**2 * math.pi

volume = area_of_base * height

round(volume, 1)

942.5

## 4
Pythagoras' theorem states that for a right angled triangle the square of the length of the hypotenuse is equal to the sum of the sqares of the other two sides.

In [81]:
import math

side1 = 5
side2 = 6

hypotenuse = math.sqrt(side1**2 + side2**2)

round(hypotenuse, 2)

7.81

## 4b
You'll need to use the math.cos function. This expects the input to be an angle in radians. If you know the angle in degrees you can convert to radians using math.radians().

In [82]:
import math

side1 = 5
side2 = 6
a_degrees = 60
a_radians = math.radians(a_degrees)

c = math.sqrt(side1**2 + side2**2 + 2*side1*side2*math.cos(a_radians))

round(c,1)

9.5

## 5

- Entrants must be more than 5 years old and younger than 100 years old.
- Entrants must have at least 1 arm and no more than 2.
- Entrants under 18 years of age must have 2 arms.
- Entrants can only wear a wig if they are over 40 years old and unmarried.

In [83]:
name      = "Charmer"
age       = 30
arms      = 1
wears_wig = True
married   = False

eligible = ((age >= 5 and age <= 100) 
    and (arms >= 1 and arms <= 2) 
    and (age >= 18 or arms == 2) 
    and (wears_wig == False or (age > 40 and married == False))
)

if eligible:
    print( name, "is eligible :)")
else:
    print( name, "is not eligible :(")

Charmer is not eligible :(